---
---
<div class="flex flex-col gap-4">
    <h1 class="text-white text-2xl font-bold">Discografia</h1>
    <slot/>
    <!-- <div class="flex flex-wrap overflow-hidden w-full">
        {
            artistDiscography.items.map(item => (
                <div class="min-w-[195px] bg-blue-800">
                    <Image 
                        src={item.images.at(0)?.url ?? ""}
                        alt={item.name}
                        width={192}
                        height={192}
                        class="rounded-md shadow-xl object-cover"
                    />
                    <h1>{item.name}</h1>
                </div>
            ))
        }
    </div> -->
</div>
