---
import MainLayout from "../layouts/mainLayout.astro"
import NewRealeases from "@components/Home/NewRealeases"
import { getSecret } from "astro:env/server"
import TopArtists from "@components/Home/Artists"
import TopTracks from "../components/Home/TopTracks"
import Footer from "@components/footer.astro"
import refreshToken from "@/services/refreshToken"

const FRONTEND_URL = getSecret("FRONTEND_URL")

const [top50] = await Promise.all([
  fetch(`${FRONTEND_URL}/api/spotify/playlists/1JVocmG0dGNuEFcQgnMZus/tracks`).then(r => r.json())
])

// TODO: Arreglar el window.reload() cuando se actualiza el token
if (top50.status === 401 ||top50.expired) {
    await refreshToken()
}

---

<MainLayout>
    <div class="w-full h-full flex flex-col gap-6 from-neutral-900 via-neutral-900 to-violet-950/70 from-65% pl-11 py-6 overflow-auto card-scroll">
        
        <NewRealeases client:visible FRONTEND_URL={FRONTEND_URL}/>

        <TopArtists client:visible FRONTEND_URL={FRONTEND_URL}/>

        <TopTracks client:visible FRONTEND_URL={FRONTEND_URL}/>
        <Footer />
    </div>
</MainLayout>