---
const count = 8
const { title } = Astro.props
---

<div class="relative group w-full">
  <h1 class="text-2xl text-white mb-4">{title}</h1>

  <!-- Carrusel simulado -->
  <div class="flex gap-6 overflow-hidden py-4">
    {[...Array(count)].map(() => (
      <div
        class="bg-neutral-800/80 rounded-lg animate-pulse w-48 h-64 flex-shrink-0"
      >
        <div class="flex flex-col gap-3 h-full py-3">
          <div class="mx-auto bg-neutral-700 rounded-md w-40 h-40" />
          <div class="h-4 bg-neutral-700 rounded mx-4" />
          <div class="h-3 bg-neutral-700 rounded mx-4 w-3/4" />
        </div>
      </div>
    ))}
  </div>
</div>
