@import "tailwindcss";

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-weight: 500;
  letter-spacing: 0.2px;
}

:root {
  --animation-pop: pop-animation 0.4s ease-in-out forwards;
}

@keyframes pop-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}