@import "tailwindcss";

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-weight: 500;
  letter-spacing: 0.2px;
  overflow-y: hidden;
}

:root {
  --animation-pop: pop-animation 0.4s ease-in-out forwards;
}


.card {
  overflow-y: auto;
}

.card::-webkit-scrollbar {
  width: 6px;
}

.card::-webkit-scrollbar-thumb {
  background: #22c55e;
}


@keyframes pop-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}