@import "tailwindcss";

html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-weight: 500;
  letter-spacing: 0.2px;
  overflow-y: hidden;
}

:root {
  --animation-pop: pop-animation 0.4s ease-in-out forwards;
}

.card-scroll {
  overflow-y: auto;
  max-height: 100%;
}

.card-scroll::-webkit-scrollbar {
  width: 6px;
}

.card-scroll::-webkit-scrollbar-thumb {
  background-color: #22c55e;
  border-radius: 9999px;
}

.card-scroll::-webkit-scrollbar-track {
  background: transparent;
  margin: 10px 0; 
}

.card-scroll::-webkit-scrollbar-corner {
  background: transparent;
}

@keyframes pop-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}