@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300..800&display=swap");
@import "tailwindcss";

html {
  font-family: "Manrope", sans-serif;
  scroll-behavior: smooth;
}

body {
  font-weight: 500;
  letter-spacing: 0.2px;
}

:root {
  --animation-pop: pop-animation 0.4s ease-in-out forwards;
}

@keyframes pop-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}