---
import "../styles/global.css"
import Header from "../components/header.astro"
import Playlists from "../components/yourPlaylists"
import refreshToken from "src/services/refreshToken"
import { getTokenFromFile } from "src/utils/tokenStore"

if (!(await getTokenFromFile())) await refreshToken()

---

<html lang="en" class="min-h-screen min-w-full">
	<head>
		<meta charset="utf-8" />
  		<title>Mi Sitio | Artistas y Música</title>
  		<meta 
  		  name="description" 
  		  content="Explorá artistas, álbumes y música con una interfaz moderna y experiencias visuales rápidas.">
  		<meta 
  		  name="keywords" 
  		  content="música, artistas, canciones, álbumes, streaming">

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="min-h-screen min-w-full bg-black">
		<div class="flex flex-col w-full min-h-screen">
			<Header />
            <div class="flex w-full gap-2 flex-1 px-3">
                <Playlists client:load>
					<slot />
				</Playlists>
            </div>
		</div>
	</body>
</html>
